@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,500;1,300&family=Baloo+Chettan+2:wght@800&family=Josefin+Sans:wght@400;700&family=Libre+Franklin:wght@300&family=Manrope:wght@800&family=Outfit:wght@500&family=Poppins:wght@400;500&family=Space+Grotesk&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin-top: 30px;
}

.attribution a {
  font-size: 10px;
  color: #3e52a3;
}

body {
  background: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

.container {
  max-width: 410px;
  height: 40rem;
  background: #fff;
  -webkit-box-shadow: 0px 1px 20px #e0e8ff;
          box-shadow: 0px 1px 20px #e0e8ff;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 760px) {
  .container {
    max-width: 350px;
    margin-top: 15%;
    height: 35rem;
  }
}

@media (max-width: 290px) {
  .container {
    max-width: 250px;
    height: 35rem;
  }
}

.container .banner {
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 760px) {
  .container .banner {
    height: 170px;
  }
}

@media (max-width: 290px) {
  .container .banner {
    height: 150px;
  }
}

.container .card_content {
  margin: auto;
}

.container .card_content h1 {
  font-size: 20px;
  padding-top: 10px;
}

.container .card_content .description {
  width: 300px;
  text-align: center;
  font-size: 14px;
  color: #1f2f56;
  margin: auto;
  padding-top: 20px;
}

@media (max-width: 290px) {
  .container .card_content .description {
    width: 200px;
    font-size: 12px;
  }
}

.container .card_content .card_plan_price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px;
  margin: 20px;
  background: #f5f7ff;
  border-radius: 10px;
  width: 20rem;
}

@media (max-width: 290px) {
  .container .card_content .card_plan_price {
    margin: 10px;
    padding: 5px;
    width: 14rem;
  }
}

.container .card_content .card_plan_price .music_icon {
  margin-right: 10px;
}

@media (max-width: 290px) {
  .container .card_content .card_plan_price .music_icon {
    margin-right: 15px;
  }
  .container .card_content .card_plan_price .music_icon img {
    height: 40px;
  }
}

.container .card_content .card_plan_price .btn-change {
  background: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 14px;
  margin: 20px 0px 0px 70px;
}

@media (max-width: 290px) {
  .container .card_content .card_plan_price .btn-change {
    margin: 0;
    font-size: 10px;
    margin-left: 50px;
    margin-top: 15px;
  }
}

.container .card_content .card_plan_price .btn-change:hover {
  text-decoration: none;
  color: #6255e7;
}

.container .card_content .card_plan_price .pricing {
  line-height: 25px;
}

.container .card_content .card_plan_price .pricing h6 {
  font-size: 15px;
  font-weight: bold;
  color: #1f2f56;
}

@media (max-width: 290px) {
  .container .card_content .card_plan_price .pricing h6 {
    font-size: 12px;
  }
}

.container .card_content .card_plan_price .pricing p {
  color: #7280a7;
  font-size: 15px;
}

@media (max-width: 290px) {
  .container .card_content .card_plan_price .pricing p {
    font-size: 12px;
  }
}

.container .card_content .card_footer {
  display: -ms-grid;
  display: grid;
  margin: auto;
  margin-top: 30px;
}

.container .card_content .card_footer .btn-payment {
  background: #3829e0;
  color: #fff;
  width: 300px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  text-align: center;
  -webkit-box-shadow: 0px 0.5px 10px #3829e0;
          box-shadow: 0px 0.5px 10px #3829e0;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 760px) {
  .container .card_content .card_footer .btn-payment {
    font-size: 15px;
    font-weight: bold;
    width: 270px;
  }
}

@media (max-width: 290px) {
  .container .card_content .card_footer .btn-payment {
    font-size: 12px;
    font-weight: bold;
    width: 200px;
  }
}

.container .card_content .card_footer .btn-payment:hover {
  background: #6255e7;
}

.container .card_content .card_footer .btn-cancel {
  margin-top: 40px;
  font-weight: bold;
  color: #7280a7;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

@media (max-width: 760px) {
  .container .card_content .card_footer .btn-cancel {
    margin-top: 30px;
  }
}

@media (max-width: 290px) {
  .container .card_content .card_footer .btn-cancel {
    margin-top: 20px;
  }
}

.container .card_content .card_footer .btn-cancel:hover {
  color: #1f2f56;
}
/*# sourceMappingURL=style.css.map */